*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  
}

.ShoppingPage{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height:80%;
}

.FilterSection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height:100%;
  max-width:25vmax;
  
}

.ShirtsContainer{
  display: flex;
  flex-wrap: wrap;
  height:100%;
  width:75vmax;
  
}